body {
    min-height: 100vh;
    background-color: #0d8bd9;
    font-family: Arial, sans-serif;
    display: grid;
    place-items: center;
    
}

p {
    display: block;
    text-align: center;
    font-size: 1.3124rem;
    font-weight: 700;
    color: #222;
    margin-bottom: 5rem;
}

form {
    display:block;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 28rem;
    background: #fff;
    padding: 4rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
}

select {
    text-align: center;

}


label {
    width: 100%;
    color: #777;
    transition: 0.15s linear;
}

label:focus-within {
    color: #0d8bd9;
}

input {
    font-size: 1.1875rem;
    color: #404040;
    padding: 1rem 0 0.5rem 0;
    width: 100%;
    border: none;
    border-color: #a0a0a0;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    margin-bottom: 3rem;
    transition:  0.15s linear;
}

input:focus {
    outline: none;
    border-color: #0d8bd9;
}

input::placeholder {
    color: #048ee32c;
    font-size: .9rem;
}

button {
    font-size: 0.8125rem;
    line-height: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: 1rem 2rem;
    cursor: pointer;
    background: transparent;
    color: #0d8bd9;
    border: 1px solid currentColor;
    border-radius: 4px;
    margin-top: 0.5rem;
    transition: 0.25s;
}

button:hover,
button:focus {
    outline: none;
    background: #0d8bd9;
    color: #fff;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #0d8bd9;
    font-size: 0.875rem;
    font-weight: 600;
    transition: 0.3s;
}

a:hover, a:focus {
    outline: none;
    color: #000;
}

a:first-of-type {
    margin-top: 3rem;
}

a + a {
    margin-top: 1.125rem;
}


::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
}

        
::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #00000069;
    border-radius: 10px;
    border: 2px solid #f0f0f000;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

    