/* Define o estilo geral da página*/
body { 
    min-height: 100vh; 
    background-color: #0d8bd9; 
    font-family: Arial, sans-serif; 
    display: grid; 
    place-items: center;
}

/* Define o estilo dos parágrafos */
p { 
    text-align: center; 
    font-size: 1.3124rem; 
    font-weight: 700;
}

/* Estiliza o formulário */
form { 
    display: block; 
    max-width: 28rem; 
    background: #fff; 
    padding: 4rem; 
    border-radius: 0.5rem; 
    box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
}

/* Define os campos de input */
input { 
    width: 100%; 
    border-bottom: 1px dotted #a0a0a0; 
    margin-bottom: 3rem; 
}

/* Estiliza os botões */
button { 
    width: 100%; 
    background: transparent; 
    color: #0d8bd9; 
    border: 1px solid currentColor; 
    border-radius: 4px; 
}

button:hover { 
    background: #0d8bd9; 
    color: #fff;
}

/* Define o estilo dos links */
a { 
    text-align: center; 
    color: #0d8bd9; 
    font-weight: 600;
}

a:hover { 
    color: #000;
}

/* Estiliza o cabeçalho */
header { 
    background-color: #006EFF; 
}

/* Define o estilo do rodapé */
#footer { 
    background-color: #006EFF; 
    text-align: center; 
    color: #fff;
}

/* Estiliza a barra de rolagem */
::-webkit-scrollbar { 
    width: 8px; 
}

/* Estiliza o "thumb" da barra de rolagem */
::-webkit-scrollbar-thumb { 
    background-color: #00000069; 
}
