
body, html {
  margin: 0;
  padding: 0;
}

main {
  padding-top: 0;
}

.navbar-brand {
  font-family: 'JetBrains Mono', monospace;
}
.banner-home > div > p {
  width: 50%;
  color: #242424;
  font-size: 19px;
}

.logo-img {
  width: 8%;
}

.card-body {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-body:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.btn-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.blue-text {
  color: #006eff;
}

.bg-blue {
  background-color: #006eff;
}


.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.btn-primary:hover {
  background-color: #0056d6;
  border-color: #0056d6;
}

.btn-third {
  background-color: #0056d6;
  border-color: #0056d6;
}

.btn-outllineprimary:hover {
  background-color: #0056d6;
  border-color: #0056d6;
}


.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}


.btn-primary{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  padding: 15px;
  background-color: #006eff;
  color: white;
}



.grupo-formulario {
  margin-bottom: 1em;
}

.text-center,
.my-4 h2 {
  color: #006eff;
  font-weight: bold;
  font-style: italic;
}

.controle-form {
  border-radius: 8px;
  border: 1px solid #006eff;
  width: 300px;
  height: 50px;
}

.my-4 input {
  padding-left: 20px;
}

#modalDemanda .modal-body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#modalDemanda .modal-footer {
  justify-content: space-between;
}


@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


.album {
  background-color: #f9f9f9;
}

.album h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.card {
  margin-bottom: 30px;
  border: none;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.card-body h4 {
  margin-bottom: 15px;
}

.modal-dialog-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-header {
  background-color: #006eff;
  color: #fff;
}

.modal-footer .btn-primary {
  background-color: #006eff;
  border: none;
}


.img-320 {
  
  height: 415px;
}

#imagem-user{
  width: 30px;
}


